* {
    font-family: "Montserrat", sans-serif;
    color: white;
}
body {
    background-color: rgb(30, 30, 30);
    margin: 0;
}
button:hover {
    cursor: pointer;
}

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(38, 38, 38);
    height: 50px;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
}
.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    height: 50px;
}
.vgp-logo {
    display: flex;
    max-height: 50px;
}
.menu {
    display: flex;
    align-items: center;
    font-size: medium;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    padding: 5px;
    border: none;
    height: 32px;
    transition: 200ms;
}
.menu:hover, .mygames-button:hover {
    background-color: #005789;
}
.menu:active, .mygames-button:active {
    background-color: #00a2ff;
}
.menu>svg {
    filter: invert();
    height: 24px;
}
.menu>span {
    margin-left: 5px;
}
.search-bar {
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    width: 40%;
}
.search-bar>svg {
    height: 24px;
}
.search-bar-input {
    width: 100%;
    height: 24px;
    border: none;
    margin-right: 5px;
    outline: none;
}
.mygames-button {
    display: flex;
    align-items: center;
    background-color:transparent;
    color: white;
    font-size: medium;
    border-radius: 8px;
    border: none;
    height: 32px;
    transition: 200ms;
    white-space: nowrap;
}
.mygames-button>svg {
    filter: invert();
    height: 24px;
}
.mygames-button>span {
    margin-left: 5px;
}
.login-button {
    display: flex;
    align-items: center;
    background-color:transparent;
    color: white;
    font-size: medium;
    border-radius: 8px;
    padding: 5px;
    border: none;
    height: 32px;
    transition: 200ms;
    white-space: nowrap;
}
.login-button:hover {
    background-color: #8d5500;
}
.login-button:active {
    background-color: #ff9a00;
}

/* HomePage Container */
.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-viewer {
    display: flex;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    width: 1000px;
    height: 565px;
    margin: 30px;
}
.game-big {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    width: 100%;
    padding: 30px
}
.game-big>img {
    height: 500px;
    border-radius: 10px;
}
.game-big>img:hover {
    cursor: pointer;
}
.game-big-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.game-big-info:hover {
    text-decoration: underline;
    cursor: pointer;
}
.game-big-title {
    font-size: xxx-large;
    font-weight: bold;
}
.game-big-year {
    margin-bottom: 10px;
    font-size: large;
}
.game-big-genres{
    display: flex;
}
.game-big-genre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: fit-content;
    padding: 5px;
    margin-right: 5px;
    border-radius: 15px;
}
.game-big-info>span {
    margin-left: 10px;
}
.main-viewer-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
    padding: 50px;
    width: 250px;
}
.game-small {
    display: flex;
    align-items: center;
    padding: 15px;
}
.game-small>img{
    height: 120px;
}
.game-small>img:hover{
    cursor: pointer;;
}
.game-small-title {
    font-size: large;
    font-weight: bold;
}
.game-small-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.game-small-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: small;
}
.footer>span {
    color: gray;
}
.vgp-logo-footer {
    height: 70px;
}