.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-viewer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    width: 97%;
    margin: 20px;
}
.game-big {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}
.progress-bar {
    background-color: #ffc400;
    height: 5px;
    position: absolute;
    border-radius: 10px;
    top:0;
    left: 10px;
    transition: 300ms;
}
.game-big>img {
    max-height: 200px;
    max-width: 150px;
    border-radius: 10px;
}
.game-big>img:hover {
    cursor: pointer;
}
.game-big-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.game-big-info>span {
    margin-left: 10px;
}
.game-big-title {
    font-size: 25px;
    font-weight: bold;
    word-break: break-word;
}
.game-big-title:hover, .game-big-genre:hover {
    text-decoration: underline;
    cursor: pointer;
}
.game-big-year {
    font-size: 15px;
}
.game-big-genres{
    display: flex;
    flex-wrap: wrap;
}
.game-big-genre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 100, 100);
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    margin: 5px 4px 0 0;
    font-size: 14px;
}
.main-viewer-list {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
    width: 100%;
}
.game-small {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 130px;
}
.game-small>img{
    width: 50px;
    border-radius: 10px;
}
.game-small>img:hover{
    cursor: pointer;;
}
.game-small-title {
    font-size: 12px;
    font-weight: bold;
    word-break: break-word;
}
.game-small-year {
    display: none;
}
.game-small-info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.game-small-info:hover {
    text-decoration: underline;
    cursor: pointer;
}