.footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: small;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer>span {
    color: gray;
}
.vgp-logo-footer {
    height: 70px;
    width: 140px;
}