.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: fit-content;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: fit-content;
}
.login-form>img {
    width: 150px;
}
.login-form>input {
    width: 100%;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    color: black;
}
.login-register-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}
.sign-in-button, .register-button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    transition: 300ms;
}
.sign-in-button {
    margin-right: 2px;
    background-color: #00a2ff;
}
.sign-in-button:hover {
    background-color: #005789;;
}
.register-button {
    margin-left: 2px;
    background-color: #ff9a00;
}
.register-button:hover {
    background-color: #8d5500;
}
.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(70, 70, 70);
    transition: 300ms;
}
.google-button:hover {
    background-color: rgb(90, 90, 90);
}
.google-button>span {
    margin-right: 4px;
}
