.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    max-width: 400px;
    width: 97%;
    height: 450px;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}
.to-home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    background-color: transparent;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    transition: 300ms;
    border-radius: 10px;
}
.to-home-button:hover {
    background-color: rgb(80, 80, 80);
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: fit-content;
}
.login-form>img {
    width: 200px;
}
.login-form>input {
    width: 100%;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
}
.login-register-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}
.sign-in-button, .register-button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: 300ms;
    font-size: large;
}
.sign-in-button {
    margin-right: 2px;
    background-color: #00a2ff;
}
.sign-in-button:hover {
    background-color: #005789;;
}
.register-button {
    margin-left: 2px;
    background-color: #ff9a00;
}
.register-button:hover {
    background-color: #8d5500;
}
.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(70, 70, 70);
    transition: 300ms;
    font-size: large;
}
.google-button:hover {
    background-color: rgb(90, 90, 90);
}
.google-button>span {
    margin-right: 4px;
}
.google-button>svg {
    height: 30px;
}
.signin-error {
    margin-top: 10px;
    color: red;
    font-size: 18px;
}
